@model IEnumerable<Event_Infinity.Models.Event>


@*<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Some Last Minute Deals</h3>
    </div>
    <div id="event-details">
        <p>
            <em>Event</em>
        </p>
    </div>

</div>*@
    <h3 class="panel-title"><b>Here are some last minute 
        !!</b></h3>
<table id="event-details" style="width:100%">

    <tr>
        <p></p>
        <th>Title</th>
        <th>Start Date</th>
        <th>Location</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="~/Events/Details\@item.EventId">@item.EventTitle</a>
            </td>
            <td>
                @item.EventStartDate
            </td>
            <td>
                @item.EventLocation
            </td>
        </tr>
    }
</table>

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}