@model IEnumerable<Event_Infinity.Models.Event>

    <h3 class="panel-title"><b>Here are some last minute deals!!</b></h3>
<table id="event-details" style="width:100%">

    <tr>
        <p></p>
        <th>Title</th>
        <th>Start Date</th>
        <th>Location</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="~/Events/Details\@item.EventId">@item.EventTitle</a>
            </td>
            <td>
                @item.EventStartDate
            </td>
            <td>
                @item.EventLocation
            </td>
        </tr>
    }
</table>

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}