@{
    ViewBag.Title = "Our Mission";
}
<h2>@ViewBag.Title</h2>

<p>Event Infinity prides itself on making fun events, only fun events. We take care of the hassle of planning and organizing, leaving you with unforgettable, fun-filled experiences! <br /><br />Hope you enjoy!<br /><br />- The Event Infinity Team</p>
