@{
    ViewBag.Title = "Contact Us:";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>For inquiries or technical issues, please contact us at:</strong>   <a href="mailto:developer@EventInfinity.com">developer@EventInfinity.com</a><br />
</address>